* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.nav-bar {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #5584AC;


}

.nav-content {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.btn-log {

    width: 140px;
    height: 57px;
    border: none;
    font-family: 'Verdana', 'sans-serif';
    border-radius: 40px;
    background-color: #95D1CC;
}

.img-content {

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.content_main {
    

    display: grid;
    grid-template-columns: 30% 68%;
    margin: 2%;
    gap: 2%;

}

.form_content {

   

    border-radius: 50px;
    background-color: #22577E;
    padding-left: 10%;
}


.txt_head_content {
    width: 328px;
    height: 37px;
    margin-left: 5px;
    margin-top: -29px;
    border-radius: 20px;
    background-color: #C8C7C7;


}

.txt_head_content p {
    text-align: center;
    margin-top: 7px;
}


.dataFields {
    display: flex;
    flex-direction: column;
    border: none;
    width: 200px;


}

.inputForm {

   
    border-radius: 20px;
    padding-left: 5%;
}



.dataFields label {

    width: 96px;
    margin-left: 20px;
    margin-top: 40px;
    align-self: flex-start;
    color: white;
}

.rol_option {
   
    border-radius: 20px;
    padding-left: 5%;
    color: grey;
}

.btn_add {
    display: flex;
    margin-top: 10%;
    margin-left: 50%;
    padding-bottom: 5%;

}

.btn_form {
    background-color: #95D1CC;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;

}

input:focus {
    outline: none;
    
}


body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


html,
body {
  
    height: auto;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: end;

}

#body_index{
    display: flex;
    flex-direction: column;
    padding: 0;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.school-name-main,
.college,
.login {
    
    display: flex;
    align-items: center;
}

.title-image {
    height: 100%;
    width: 50%;
}

.title-image img {
    width: 100%;
    height: 100%;
}

.person-list {
    display: flex;
    gap: 5%;
    padding-left: 5%;
    align-items: center;
    width: 50%;
}

.person-list img {
    height: 20%;
    width: 20%;
}

.person-list p {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-right: 25px;
    line-height: 1.3;
    color: #3774A7;
}

.college img {
  
    width: 100%;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.button-login {
    margin-top: 20%;
    margin-bottom: 20%;
    background-color: #95D1CC;
    color: #22577E;
    font-size: 40px;
    font-weight: bolder;
    width: 357px;
    height: 109px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
}


#containerfkb {
   
    display: flex;
    justify-content: flex-end;


}

;

.fakeButtons {

    margin-left: 10px;
}


.buttonfkb {
   

    margin-bottom: 10px;
    background-color: #95D1CC;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;


}

.button-containerfkb {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 50%;
 

}

.button-containerfkb button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

}

.footer_content {
    background-color: #5584AC;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
    font-family: 'Verdana', 'sans-serif';
    height: 100px;
    font-weight: lighter;
    margin-top: 110px;
}


.footer_content_index {

    background-color: #5584AC;
    display: flex;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Verdana', 'sans-serif';
    width: 100%;
    margin-top: 100px;
    height: 120px;
    position: relative;
    bottom: 0;
    padding: 0;
}


.comment1 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 50px;
    padding-top: 2%;
}

#comment2 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-top: 2%;
}

#comment2 img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-right: 10px;
    padding-top: 2%;


}

#comment3 {
    display: flex;
    margin-top: 50px;
    padding-top: 2%;
}

#comment3 img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 1px;
    margin-bottom: 100px;
    margin-right: 10px;

}

.comment1b {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-top: 2%;
    
}

#comment2b {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    margin-bottom: 1%;
    margin-top: 2%;
}

#comment2b img {
    width: 20px;
    height: 20px;
    margin-right: 5%;
    margin-top: 2%;
    
}

#comment3b {
    display: flex;
    margin-top: 2%;
}

#comment3b img {
    width: 20px;
    height: 20px;
}

.form_content {
    width: 100%;
}

.seccion_datos {
    border: solid 5px #5584AC;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    max-height: 500px;

}

.tabla_datos {
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    background-color: #95D1CC;
    padding: 0;

}


.tablaDatos td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.tablaDatos {
    width: 100%;

}

.tablaHead th {
    background-color: #5584AC;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    color: white;
}


td {
 
    width: 100%;
}

tbody tr {
    cursor: pointer;
    background-color: #95D1CC;
    width: 100%;
}

tbody tr:hover {
    background: white;
}

#celdaName,
#celdaApellido1,
#celdaApellido2,
#celdaRol,
#celdaCurso,
#celdaClase,
#celdaEmail,
#celdaBtnEditar,
#celdaBtnEliminar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

#registro_datos {
    display: grid;
    grid-template-columns: 0.7fr 1.5fr;
    gap: 10px;
    padding-top: 15%;
}

#registro_datos label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

#registro_datos input,
#registro_datos select {
    width: 85%;
    box-sizing: border-box;
  
}

.btn_add {
    grid-column: span 2;
  
}

.liLista {
    list-style: none;
    border: rgb(88, 83, 83) 1.5px solid;
    color: rgb(88, 83, 83);
    border-radius: 8px;
    font-size: small;
    padding-left: 2%;
}



.modalM {
    display: none;
   
    position: fixed;
   
    z-index: 1;
  
    padding-top: 200px;
    
    left: 0;
    top: 0;
    width: 100%;

    height: 100%;
  
    overflow: auto;
  
    background-color: rgba(0, 0, 0, 0.5);
   
}

/* Ventana o caja modal */
.contenido-modalM {
    position: relative;
    /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto;
    /* Centrada */
    padding: 30px;
    width: 20%;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    border-radius: 15%;
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* Botón cerrar */
.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.liLista li:hover {
    background-color: #5584AC;
    cursor: pointer;
}
.liLista {

    list-style-type: none;
    padding: 0;
    margin: o;
}
/* Estilo ventana modal */
.modal {
    display: none;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .liLista li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
 
.liLista li:last-child {
    border-bottom: none;
  }
  .button-containerfkb {
    display: flex;
    text-align: center;
    justify-content: center;
     margin-top: 10%;
     margin-left: 50%;
     
 }
 .button-containerfkb button {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 30px;
 }

@media screen and (max-width: 430px) {
    .content_main {
        display: flex;
        flex-direction: column;
        margin-top: 50px;

    }

    .seccion_datos {
        border: solid 5px #5584AC;
        margin-top: 20px;
        width: 100%;
        max-height: 500px;

    }
    .footer_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 250px;
        padding-top: 60px;
    }
    
    .comment1 {
        margin-top: 10px;
        justify-content: center;
    }

    #comment2 {
        margin-top: 10px;
        justify-content: center;
        margin-right: 12px;
    }

    #comment3 {
        margin-top: -6px;
        margin-left: 40px;
    }

    .fakeButtons {
        margin-top: 30px;
    }

    .liLista {
        margin-top: 20px;

    }

    .btn-log {
        width: 60px;
        height: 40px;
        margin-top: 10px;
    }
    .liLista li:hover {
    background-color: #5584AC;
    cursor: pointer;
}
.liLista {
  
    list-style-type: none;
 
    padding: 0;
    margin: o;
}
/* Estilo ventana modal */
.modal {
    display: none;
    /* height: 100px; */
    width: 300px;
   /* display: none;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  .liLista li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  /* Estilo último elemento lista (sin borde inferior) */
.liLista li:last-child {
    border-bottom: none;
  }
}